{% extends "network/layout.html" %}
{% block body %}
<div style="border-bottom: 1px solid #2F3336;">
   <h2 style="margin: 15px;">All Posts</h2>
</div>

<div class="container">
   {% for tweet in page_obj %}
   <div class="post">
      <div class="card" data-id="{{tweet.id}}">
         <div class="card-body rounded">
            <div class="card-info">
            <a class="card-title" href="{% url 'profile' user_id=tweet.author.id%}"><strong>@{{ tweet.author }}</strong></a>
            <i class="fa-solid fa-square-check" id="check"></i>
            <h6 class="card-subtitle">{{tweet.posted}}</h6>
            </div>
            <p class="card-text" id="tweetText">{{tweet.tweetText}}</p>

            <!-- If user likes post, show like button as red; otherwise grey  -->
            {% if user.username in tweet.like.all|stringformat:'s' %}
            <button class="button-like" id="foo-like">
               <i class="fa-solid fa-heart"></i>&nbsp;<span id="number">{{ tweet.like.all.count }}</span>
            </button> 
            {% else %}
            <button class="button-secondary" id="foo">
               <i class="fa-regular fa-heart"></i>&nbsp;<span id="number">{{ tweet.like.all.count }}</span>
            </button> 
            {% endif %}


            <!-- If user is author of post, show edit button -->
            {% if user.username == tweet.author|stringformat:'s' %}
            <button class="button-edit" id="edit">  Edit</button>
            {% endif %}
         </div>
      </div>
   </div>
   {% endfor %}

   <!-- Page navigation -->
   <nav aria-label="Page">
      <ul class="pagination">
         {% if page_obj.has_previous %}
         <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
         </li>
         {% else %}
         <li class="page-item disabled">
            <a class="page-link disabled" href="#" tabindex="-1" aria-disabled="True">Previous</a>
         </li>
         {% endif %}
         {% for i in page_obj.paginator.page_range %}
         {% if page_obj.number == i %}
         <li class="page-item active" aria-current="page">
            <span class="page-link">
               {{ i }}
               <span class="sr-only"></span>
            </span>
         </li>
         {% else %}
         <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
         {% endif %}
         {% endfor %}
         {% if page_obj.has_next %}
         <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
         </li>
         {% else %}
         <li class="page-item disabled">
            <a class="page-link disabled" href="#" tabindex="-1" aria-disabled="True">Next</a>
         </li>
         {% endif %}
      </ul>
   </nav>

   <script>
      document.addEventListener('DOMContentLoaded', function() {
   document.querySelectorAll('button').forEach(button => {
      button.onclick = function(event) {
         const element = event.currentTarget; // Zmiana z event.target na event.currentTarget

         // Detects if EDIT button clicked
         if (element.classList.contains("button-edit")) {
            console.log(`Edit button clicked. Post number: ${this.parentElement.parentElement.dataset.id}`);

            const id = this.parentElement.parentElement.dataset.id;
            const originalText = this.parentElement.querySelector("#tweetText").innerText;

            // If edit button reads 'edit', create text area and change button text to 'save'
            if (this.innerText === "Edit") {
               this.parentElement.querySelector("#tweetText").innerHTML = '<textarea id="edit_text"></textarea>';
               this.parentElement.querySelector("#edit_text").placeholder = originalText;
               this.innerText = "Save";

            // If edit button reads 'save', update post
            } else if (this.innerText === "Save") {
               fetch(`/edit/${id}`, {
                  method: 'POST',
                  body: JSON.stringify({
                     tweet: this.parentElement.querySelector("#edit_text").value
                  })
               })
               .then(response => response.json())
               .then(result => {
                  console.log(`Edited text: ${result.new_text}`);
                  this.parentElement.querySelector("#tweetText").innerHTML = result.new_text;
                  this.innerText = "Edit";
               });
            }

         // Detects if LIKE button clicked
         } else if (element.classList.contains("button-secondary") || element.classList.contains("button-like")) {
            console.log(`Like button clicked. Post number: ${this.parentElement.parentElement.dataset.id}`);

            const id = this.parentElement.parentElement.dataset.id;

            // Update database then HTML
            fetch(`/like/${id}`, {
               method: 'POST'
            })
            .then(response => {
               // Call the like function to update the UI
               like(element); // Użyj elementu, który jest przyciskiem
            });
         }
      };
   });
});


// Like / unlike post
function like(tweet) {
   var likesElement = tweet.querySelector("#number");
   var likes = parseInt(likesElement.innerHTML);

   if (tweet.classList.contains("button-secondary")) {
      tweet.className = "button-like"; // Zmień klasę na "lajk"
      likes++;
      tweet.querySelector("i").className = "fa-solid fa-heart"; // Zmień ikonę na "lajk"
   } else {
      tweet.className = "button-secondary"; // Zmień klasę na "odlajk"
      likes--;
      tweet.querySelector("i").className = "fa-regular fa-heart"; // Zmień ikonę na "odlajk"
   }

   likesElement.innerHTML = likes; // Zaktualizuj liczbę polubień
}

   </script>
   </div>
   {% endblock %}