{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}_N{% endblock %}</title>
        <link rel="icon" type="image/svg+xml" href="{% static '/network/favicon.ico' %}" />
        <link rel="stylesheet" href="{% static 'network/styles.css' %}"/>
        <link rel="preload" href="{% static '/network/Chirp-Regular.woff2' %}" as="font" crossorigin="" type="font/woff">
        <link rel="preload" href="{% static '/network/Chirp-Bold.woff2' %}" as="font" crossorigin="" type="font/woff">
        <link rel="preload" href="{% static '/network/Chirp-Medium.woff2' %}" as="font" crossorigin="" type="font/woff">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    </head>

    <body>
        <header>
            <div style="position: fixed;">
                <div class="logo">
                    <a href="{% url 'index' %}">
                        <img src="{% static '/network/logo.webp' %}" height="45" alt="logo"/>
                    </a>
                </div>

                <nav>
                    <div>
                        <ul style="margin: 0;">
                            {% if user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'allPosts' %}">
                                        <i class="fa-sharp fa-solid fa-house" id="nav-icon"></i>
                                        <span class="nav-text">Home</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'profile' user_id=user.id%}">
                                        <i class="fa-regular fa-user" id="nav-icon"></i>
                                        <strong class="nav-text">{{ user.username }}</strong>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'following' %}">
                                        <i class="fa-regular fa-images"></i>
                                        <span class="nav-text">Following</span>
                                    </a>
                                </li>
                                <li class="nav-item button">
                                    <a class="nav-button" href="{% url 'tweet' %}" role="button">Post</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        <div class="body">
            {% block body %}
            {% endblock %}
        </div>

        <footer>
            <div style="position: fixed; margin-left: 12px;">
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}" role="button">
                            <i class="fa-solid fa-key"></i>
                            <span class="nav-text">Log Out</span>
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </body>
</html>