{% extends "network/layout.html" %}
{% block body %}
<div style="border-bottom: 1px solid #2F3336;">
   <h2 style="margin: 15px;">New Post</h2>
</div>

<div class="container">
      <div class="modal-content">
          <div class="popup-interface">
              <h2 style="margin: 0px;">Create Post</h2>
              <i class="fa-solid fa-xmark" id="close-popup"></i>
          </div>
          <form action="{% url 'tweet' %}" method="POST">
              {% csrf_token %}
              <div class="form-group">
                  <textarea class="form-control" id="post-textarea" name="exampleFormControlTextarea1" rows="3" placeholder="😁 - What's up?"></textarea>
              </div>
              <div class="popup-button-box">
                  <button id="emoji-button" class="button-emoji" type="button">
                      <i class="fa-regular fa-face-laugh-wink"></i>
                  </button>
                  <input type="submit" class="button-post" value="Post">
              </div>
          </form>
      </div>  
</div>

{% for tweet in tweets %}
<li>{{tweet}}</li>
{% endfor %}

{% endblock %}